<div border="2px">
  <h1>Welcome to DevNet</h1>
  <div align="center">An Open Source Project by  
  <img src="http://www.great-big.com/uploads/1/8/5/7/18577644/943454.jpg" height="50px">
  </div>
</div>

<div>
  <div>
    <div class="jumbotron">
      <div class="container">
      <h2>My App</h2>
        <ul>    
          <% if @app.blank? %>
            <li><%= link_to "POST your App for community feedback!", '/apps/new' %></li>
            <i>Post apps and write reviews to boost your standing in the development community.</i>
          <% else %>
            <table>      
              <tr><th><%= @app.app_name %></th></tr>
              <tr><td><%= @app.app_description %></td></tr>
              <tr><td><i>created by <%= User.find(@app.user_id).username %></i></td></tr>
              <tr><td><img src="<%= @app.app_image %>" height="100px"></td></tr>
              <tr><td><a href="<%= @app.app_link %>">Link To My App</a></td></tr>
              <tr><td><a href="<%= @app.git_link %>">Link to My Repo</a></td></tr>
            </table>
            <button type="button" class="btn btn-info"><%= link_to "EDIT details", "/apps/#{@app.id}" %></button>
            <button type="button" class="btn btn-primary">EXPLORE reviews!</button>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div>
    <div class="jumbotron">
      <div class="container">
      <h2>My Community<h2>
      <button type="button" class="btn btn-info"><%= link_to "VIEW & REVIEW apps from other creative developers!", '/apps' %></button>
      <button type="button" class="btn btn-primary"><%= link_to "BROWSE member profiles...", "/users" %></button>      
    </div>
    </div>
  </div>
</div>



<%
  if (defined?@app.feedbacks.size) && (@app.feedbacks.size > 0) 
    tot_respondants = @app.feedbacks.size 

    tot_useful =    @my_bools[:useful_vote]
    tot_enjoyable = @my_bools[:enjoyable_vote]
    tot_sleek =     @my_bools[:sleek_vote]
    tot_ui =        @my_bools[:ui_vote]

    useful_summary    = "#{tot_useful} (#{(100*tot_useful       /tot_respondants).ceil}%)"
    enjoyable_summary = "#{tot_enjoyable} (#{(100*tot_enjoyable / tot_respondants).ceil}%)"
    sleek_summary     = "#{tot_sleek} (#{(100*tot_sleek         / tot_respondants).ceil}%)"
    ui_summary        = "#{tot_ui} (#{(100*tot_ui               / tot_respondants).ceil}%)"


%>
<h2>Feedback</h2>



<div class="jumbotron">
<h3>Feedback Summary</h3>

<h4>Aggregated Votes</h4>
<table>
  <tr><td><%= useful_summary %> <td> Fulfills a practical purpose. </tr>
  <tr><td><%= enjoyable_summary %> <td> Is fun and or a pleasure to use. </tr>
  <tr><td><%= sleek_summary %> <td> Exhibits sleek design. </tr>
  <tr><td><%= ui_summary %> <td> A smooth interaction expereince. </tr>
</table>


<h4>Aggregated Comments</h4>

<p>Great Features: </p>
<ul>
  <% @app.feedbacks.each do |this_feedback| %>
    <li><%= this_feedback.good_text %></li>
  <% end %>
</ul>

<p>Issues & Areas for Improvement: </p>
<ul>
  <% @app.feedbacks.each do |this_feedback| %>
    <li><%= this_feedback.bad_text %></li>
  <% end %>
</ul>

<p>General Observations and Suggestions: </p>
<ul>
  <% @app.feedbacks.each do |this_feedback| %>
    <li><%= this_feedback.suggestions_text %></li>
  <% end %>
</ul>
</div>

<div class="jumbotron">

<h3>Feedback Details</h3>

  <% @app.feedbacks.each do |this_feedback| %>
  <h4> Review from <%= User.find(this_feedback.user_id).username %> </h4>
    <h5>I thought the App...</h5>
    <table>

      <%if this_feedback.useful_vote %>
        <tr><td>"Fulfills a practical purpose."</tr>
      <%end %> 
      <%if this_feedback.enjoyable_vote %>
        <tr><td>"Is fun and or a pleasure to use."</tr>
      <%end %>
      <%if this_feedback.sleek_vote %>
        <tr><td>"Exhibits sleek design."</tr>
      <%end %>
      <%if this_feedback.ui_vote %>
        <tr><td>"Exhibits a smooth interaction."</tr>
      <%end   %>
    </table>
    <br>
    <table>

    <tr><td><b>Great Features:                       </b><td><i>"<%= this_feedback.good_text %>"</i></tr>
    <tr><td><b>Issues & Areas for Improvement:       </b><td><i>"<%= this_feedback.bad_text %>"</i></tr>
    <tr><td><b>General Observations and Suggestions: </b><td><i>"<%= this_feedback.suggestions_text %>"</i></tr>
    </table>
    <br>
  <% end %>

<%else%>

    <div>No feedback received as yet!</div>
<%end%>

</div>
