<h1>Edit Feedback for <%= App.find(@this_feedback.app_id).app_name %></h1>

<% local_app_id = @this_feedback.app_id %>

<h1>Updating Review for 
  <%= App.find(local_app_id).app_name %>
	
</h1>
<form method="post" action="/apps/<%= local_app_id %>/feedbacks/<%= @this_feedback.id %>/update">
  <input type="text" size="50px 50px" value="<%= @this_feedback.review_text %>" name="new_review[review_text]">
  <input type="text" value="<%= local_app_id %>" name="new_review[app_id]">
  <input type="submit">
</form>