
<form method="post" action="update">

		<input type="text" value="<%= @this_app.app_name %>" name="edited_app[app_name]"> 
	<br><input type="text" value="<%= @this_app.app_description %>" name="edited_app[app_description]">
	<br><input type="url"  value="<%= @this_app.app_image %>" name="edited_app[app_image]">
	<br><input type="url"  value="<%= @this_app.app_link %>" name="edited_app[app_link]">
	<br><input type="url"  value="<%= @this_app.git_link %>" name="edited_app[git_link]">
	<br><button type="submit">Submit Changes</button>

</form>