<!DOCTYPE html>
<html>
<head>
  <title>Devnet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">

<% if defined?current_user.username %>  
  
  <%= link_to "HOME", "/users/#{current_user.id}" %>
  Hello, <b><%= current_user.username %>!"</b>
  <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to "Sign Up (its FREE!)", '/users/new' %>
  <%= link_to "Log In", '/sessions/new' %>
<% end %>
</nav>

<%= yield %>



<div>(c) Great Big Enterprises Inc, 2013</div> 
</body>
</html>
